In [1]:
import pandas as pd 
import numpy as np
info = np.array(['P','a','n','d','a','s'])
a = pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [2]:
import pandas as pd
x = ['Python','Pandas']
df = pd.DataFrame(x)
print(df)

        0
0  Python
1  Pandas

In [3]:
import pandas as pd
import numpy as np
a = pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})
print(a)

0    Java
1       C
2     C++
3     NaN
dtype: object

In [4]:
import pandas as pd
import numpy as np
a = pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})
a.map(lambda x: 'I like {}'.format(x), na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

In [5]:
s = pd.Series(["a", "b", "c"], name="vals")
s.to_frame()

  vals
0    a
1    b
2    c

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
emp = ['Parker', 'John', 'Smith', 'Willam']
id = [102, 107, 109, 114]
emp_series = pd.Series(emp)
id_series = pd.Series(id)
frame = {'Emp': emp_series, 'ID': id_series}
result = pd.DataFrame(frame)
print(result)

      Emp   ID
0  Parker  102
1    John  107
2   Smith  109
3  Willam  114

In [7]:
import pandas as pd
info = {'ID':[101,102,103],'Department':['B.Sc','B.Tech','M,Tech']}
df = pd.DataFrame(info)
print(df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M,Tech

In [8]:
import pandas as pd 
info = {
'one': pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
'two': pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}
d1 = pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6
g  NaN    7
h  NaN    8

In [9]:
import pandas as pd
data = {
    'name': ['Parker', 'John', 'Smith', 'Willam'],
    'age': [25, 30, 22, 28],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print(df)

     name  age         city
0  Parker   25     New York
1    John   30  Los Angeles
2   Smith   22      Chicago
3  Willam   28      Houston

In [10]:
import pandas as pd
data = [
    ['Parker', 25, 'New York'],
    ['John', 30, 'Los Angeles'],
    ['Smith', 22, 'Chicago'],
    ['Willam', 28, 'Houston']
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

     Name  Age         City
0  Parker   25     New York
1    John   30  Los Angeles
2   Smith   22      Chicago
3  Willam   28      Houston

In [11]:
import pandas as pd
info = {
'one': pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
'two': pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])
}
df = pd.DataFrame(info)
print("Add new column by passing series")
df['three'] = pd.Series([20, 40, 60], index=['a', 'b', 'c'])
print(df)
print("Add new column using existing DataFrame columns")
df['four'] = df['one'] + df['three']
print(df)

Add new column by passing series
   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN
Add new column using existing DataFrame columns
   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   60.0  63.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  NaN    6    NaN   NaN

In [12]:
import pandas as pd
info = {
'one': pd.Series([1, 2], index=['a', 'b']),
'two': pd.Series([1, 2, 3], index=['a', 'b', 'c'])
}
df = pd.DataFrame(info)
print("The DataFrame:")
print(df)
print("Delete the first column:")
del df['one'] 
print(df)
print("Delete the another column:")
df.pop('two')
print(df)

The DataFrame:
   one  two
a  1.0    1
b  2.0    2
c  NaN    3
Delete the first column:
   two
a    1
b    2
c    3
Delete the another column:
Empty DataFrame
Columns: []
Index: [a, b, c]

In [26]:
import pandas as pd
info = {
'one': pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
'two': pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])
}
df = pd.DataFrame(info)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [1]:
students = {
    "J1": {"name": "John Doe", "student_id": "1001", "password": "pass123", "department": "CSE"},
    "J2": {"name": "Jane Smith", "student_id": "1002", "password": "pass456", "department": "ECE"},
    "J3": {"name": "Alice Johnson", "student_id": "1003", "password": "pass789", "department": "ME"},
    "J4": {"name": "Bob Lee", "student_id": "1004", "password": "pass101", "department": "CSE"}
}
def get_students_by_department(department):
    return [details for key, details in students.items() if details["department"] == department]
def get_student_by_index(index):
    student_list = list(students.values())
    if index < len(student_list):
        return student_list[index]
    else:
        return "Index out of range"
def get_student_id_by_name(name):
    for student in students.values():
        if student["name"] == name:
            return student["student_id"]
    return "Student not found"
cse_students = get_students_by_department("CSE")
print("CSE students:", cse_students)
second_student = get_student_by_index(1)
print("Second student:", second_student)
alice_id = get_student_id_by_name("Alice Johnson")
print("Alice's ID:", alice_id)

CSE students: [{'name': 'John Doe', 'student_id': '1001', 'password': 'pass123', 'department': 'CSE'}, {'name': 'Bob Lee', 'student_id': '1004', 'password': 'pass101', 'department': 'CSE'}]
Second student: {'name': 'Jane Smith', 'student_id': '1002', 'password': 'pass456', 'department': 'ECE'}
Alice's ID: 1003

In [5]:
import pandas as pd
d1 = pd.DataFrame([[7, 8], [9, 10]], columns=['X', 'Y'])
d2 = pd.DataFrame([[11, 12], [13, 14]], columns=['X', 'Y'])
d1 = d1.append(d2, ignore_index=True)
print("DataFrame after appending new rows:")
print(d1)

DataFrame after appending new rows:
    X   Y
0   7   8
1   9  10
2  11  12
3  13  14

C:\Users\gobin\AppData\Local\Temp\ipykernel_61820\1636066222.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d1 = d1.append(d2, ignore_index=True)

In [7]:
import pandas as pd
a_info = pd.DataFrame([[4, 5], [6, 7]], columns=['x', 'y'])
b_info = pd.DataFrame([[8, 9], [10, 11]], columns=['x', 'y'])
a_info = a_info.append(b_info, ignore_index=True)
a_info = a_info.drop(0)
print("DataFrame after dropping row with index 0:")
print(a_info)

DataFrame after dropping row with index 0:
    x   y
1   6   7
2   8   9
3  10  11

C:\Users\gobin\AppData\Local\Temp\ipykernel_61820\2798672232.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a_info = a_info.append(b_info, ignore_index=True)